@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import "reset.css";
@import "status-bar.css";

body {
    font-family: 'Belleza', sans-serif;
}

.welcome-header {
    font-weight: 600;
    flex-direction: column;
    margin: 85px 0px;
    text-align: center;
    display: flex;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 30px;
    font-size: 23px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}